@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: lato;
}

h1,
h2 {
  font-family: "Nunito sans";
}

.triangle {
  width: 50px;
}

header .top-image {
  height: 400px;
  background-image: url("../img/2010-hus-i-træ.jpg");
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: cover;
}

header .logo {
  font-family: "Nunito sans";
  font-size: 1.5rem;
}

header .logo h1 {
  margin-left: 20px;
}

header nav {
  height: 10vh;
  background-color: #161616;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav ul {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
  margin-right: 20px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

main #main-top {
  margin: 40px 0px 0px 0px;
}

main #main-top h2 {
  text-align: center;
  margin-bottom: 20px;
}

main .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px;
}

main .text .left-text {
  margin-right: 20px;
}

main #main-middle {
  background-color: #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #main-middle .articles {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #main-middle .articles article {
  width: 30%;
  background-color: white;
  height: 600px;
}

main #main-middle .articles article img {
  width: 100%;
  height: 370px;
}

main #main-middle .articles article p,
main #main-middle .articles article h2 {
  margin: 10px;
}

main #main-middle .triangle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main #main-bottom {
  background-image: url(../img/5642_hejrelunden_20.jpg);
  background-position: 0% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #main-bottom .bg-catelog {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #main-bottom .bg-catelog p {
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 20px;
}

footer {
  height: 400px;
  color: #626262;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  color: #626262;
  text-decoration: none;
}

footer .link-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

footer .link-company {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .company-info {
  width: 25%;
}

footer .social {
  color: black;
}
/*# sourceMappingURL=styles.css.map */